{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container text-center">
    <div class="row" style="margin: 10px;">
      <div class="col " style="margin: 3px;">
        <div class="list-group" id="right1">
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Tops</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Shirts</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Shorts</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Pants</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Skirts</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Dresses</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Jumpsuits</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Jackets</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <span class="link-name" style="font-family:'Montserrat', sans-serif">Cardigans</span>
            </a>

        </div>
      </div>


      <div class="col-md-7" style="margin: 10px;">
        <img src="static/images/gummy.gif" alt="" style="width: 648px; height: 365px; border-radius: 10px;">
      </div>
      <div class="col-md-2">
        <div class="row" style="background-color: rgba(245,188,207,255); border-radius: 10px; ">

            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="/static/images/h1.png" alt="" style="width: 30px; height: 30px; margin-left: -30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Montserrat', sans-serif; font-size: 12px; margin-left: -40px; font-weight: 600;">FALL-WINTER 23 COLLECTION</h6>
                    <p style="font-family:'Montserrat';font-size: 10px; color: gray; margin-left: -30px; margin-top: -10px;">Giao mùa thu đông</p>
                </div>
            </div>

            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="/static/images/h2.png" alt="" style="width: 30px; height: 30px; margin-left: -30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Montserrat', sans-serif; font-size: 12px; margin-left: -40px; font-weight: 600;">SUMMER 2024 COLLECTION</h6>
                    <p style="font-family:'Montserrat', sans-serif; font-size: 10px; color: gray; margin-left: -30px; margin-top: -10px;">Mùa hè trở lại</p>
                </div>
            </div>



            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/h3.png" alt="" style="width: 30px; height: 30px; margin-left: -30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Montserrat', sans-serif; font-size: 12px; margin-left: -40px; font-weight: 600;">FRESHNESS COLLECTION</h6>
                    <p style="font-family:'Montserrat';font-size: 10px; color: gray; margin-left: -30px; margin-top: -10px;">Tươi Mới, Tự Tin</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;">
            <div class="col">
                <img src="../static/images/right1.gif" alt="" class="right2">
            </div>

        </div>
      </div>
    </div>
</div>


<div class="container text-center">
    <div class="row" style="margin: 5px;">
        <div class="col" style="display: flex;font-family:'Montserrat', sans-serif; width: 400px; height: 50px; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;margin-left: 35px;margin-right: 35px;">
            <img src="../static/images/h6.png" alt="" style="width: 30px; height: 30px;margin-top: 5px;margin-bottom: 10px;">
            <h6 style="margin-left: 7px;margin-top: 10px;margin-bottom: 10px;">Radiant Confidence</h6>
        </div>
        <div class="col" style="display: flex;font-family:'Montserrat', sans-serif;width: 400px; height: 50px; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;margin-left: 35px;margin-right: 35px;">
            <img src="../static/images/h7.png" alt="" style="width: 30px; height: 30px;margin-top: 5px;margin-bottom: 10px;">
            <h6 style="margin-left: 17px;margin-top: 10px;margin-bottom: 10px;">Vibrant Vibes</h6>
        </div>
        <div class="col" style="display: flex;font-family:'Montserrat', sans-serif;width: 400px; height: 50px; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;margin-left: 35px;margin-right: 35px;">
            <img src="../static/images/h8.png" alt="" style="width: 30px; height: 30px;margin-top: 5px;margin-bottom: 10px;">
            <h6 style="margin-left: 17px;margin-top: 10px;margin-bottom: 10px;">Fresh Fashion</h6>
        </div>
        <div class="col" style="display: flex;font-family:'Montserrat', sans-serif;width: 400px; height: 50px; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;margin-left: 35px;margin-right: 35px;   ">
            <img src="../static/images/h9.png" alt="" style="width: 30px; height: 30px;margin-top: 5px;margin-bottom: 10px;">
            <h6 style="margin-left: 17px;margin-top: 10px;margin-bottom: 10px;">Free Ship</h6>
        </div>

    </div>
</div>


  <div class="container text-center">
        <div class="row" style="margin-left: 30px; background-color: rgba(198, 217, 181, 255);" id="column">


            {% for item in items %}

        <div class="col" style="background-color: white;">

            <img src="{{ item.product_picture }}" alt="" style="height: 202px; width: 180px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: gray;font-family: 'Montserrat', sans-serif;">{{ item.product_name }}</h6>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col">

                    <h5 style="font-weight: 600; font-family: 'Montserrat', sans-serif;">VND {{ item.current_price }}</h5>
                    <strike><p style="color: gray;">VND {{ item.previous_price}}</p></strike>
                </div>

                <div class="col" style="font-family: 'Montserrat', sans-serif;">
                    <a style="background: #f5bccf" href="/add-to-cart/{{ item.id }}">Add</a>
                </div>

            </div>

            <div class="row">
                <p>{{ item.in_stock }} Items Left</p>
            </div>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}